/*!*before new idea*!*/
/*.input-radio {*/
/*position: absolute;*/
/*top: 0;*/
/*cursor: pointer;*/
/*opacity: 0;*/
/*width: 100%;*/
/*height: 100%*/
/*}*/

/*.input-color:checked+span,*/
/*.input-color:hover+span,*/
/*.input-radio:checked+span,*/
/*.input-radio:hover+span {*/
/*border: 2px solid #232323*/
/*}*/

/*!* line 397, ../sass/product.scss *!*/
/*tr.comb-size td.kaz-size {*/
/*width: 120px;*/
/*padding-left: 5px;*/
/*background:#fff;*/
/*padding:.125rem .625rem;font-weight:600;border:2px solid #fff*/
/*}*/
/*!* line 268, ../sass/product.scss *!*/
/*.product-attributes-left {*/
/*float: left;*/
/*width: 350px;*/
/*}*/



/*!* line 405, ../sass/product.scss *!*/
/*.buy-block-right {*/
/*float: right;*/
/*width: 220px;*/
/*margin-top: 8px;*/
/*}*/

/*!* line 369, ../sass/product.scss *!*/
/*tr.comb-size {*/
/*position: static;*/
/*cursor: pointer;*/
/*text-align: center;*/
/*line-height: 17px;*/
/*}*/

/*!* line 374, ../sass/product.scss *!*/
/*tr.comb-size:hover {*/
/*background-color: #D6DDEC;*/
/*}*/

/*!* line 377, ../sass/product.scss *!*/
/*tr.comb-size.selected {*/
/*background-color: #ff6600;*/
/*color: white;*/
/*font-weight: bold;*/
/*}*/

/*!* line 382, ../sass/product.scss *!*/
/*tr.head {*/
/*border-bottom: 1px solid #d7deec;*/
/*font-family: Helvetica;*/
/*font-weight: normal;*/
/*}*/

/*!* line 387, ../sass/product.scss *!*/
/*tr.head th {*/
/*padding: 2px;*/
/*text-align: left;*/
/*}*/

/*!* line 391, ../sass/product.scss *!*/
/*tr.comb-size td {*/
/*font-size: 12.5px;*/
/*font-family: Helvetica;*/
/*text-align: left;*/
/*}*/

/*!* line 397, ../sass/product.scss *!*/
/*tr.comb-size td.kaz-size {*/
/*width: 120px;*/
/*padding-left: 5px;*/
/*}*/

/*!* line 398, ../sass/product.scss *!*/
/*tr.comb-size td.kaz-dimension {*/
/*width: 150px;*/
/*}*/

/*!* line 399, ../sass/product.scss *!*/
/*tr.comb-size td.kaz-price {*/
/*width: 60px;*/
/*padding-right: 5px;*/
/*text-align: right;*/
/*}*/

/* line 544, ../sass/product.scss */
.sizes-buy-block {
    padding: 16px;
    display: grid;
    grid-template-columns: auto auto;
}
/*.sizes-buy-block-body {*/
/*padding: 16px;*/
/*position: relative;*/
/*display: grid;*/
/*}*/

/*.input-container {*/
/*position: relative;*/

/*}*/
.boxy-label{
    grid-column: 1 / span 2;
}
.input-radio {
    position: relative;
    top: 30px;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%
}
.radio2-label {
    /*box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);*/
    border:2px solid transparent ;
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
    /*grid-gap: 10px;*/
    /*border: 10px solid #fff;*/
}
.size-dimension-subelement{
    display: inline-block;

    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;

}

.input-color:checked + span, .input-color:hover + span, .input-radio:checked + span, .input-radio:hover + span {
    border: 2px solid #232323;
}