.product-name {
    text-align: center;
}

#studio-wrapper {
    display: flex;
    justify-content: center;
}

#studio-wrapper #canvas-wrapper {
    width: 800px;
    background-image: linear-gradient(top left, rgba(215,220,236, .5) 0%, rgb(255,255,255) 50%, rgba(215,220,236,.5) 100%);
    background-image: -o-linear-gradient(top left, rgba(215,220,236,.5) 0%, rgb(255,255,255) 50%, rgba(215,220,236,.5) 100%);
    background-image: -moz-linear-gradient(top left, rgba(215,220,236,.5) 0%, rgb(255,255,255) 50%, rgba(215,220,236,.5) 100%);
    background-image: -webkit-linear-gradient(top left, rgba(215,220,236,.5) 0%, rgb(255,255,255) 50%, rgba(215,220,236,.5) 100%);
    background-image: -ms-linear-gradient(top left, rgba(215,220,236,.5) 0%, rgb(255,255,255) 50%, rgba(215,220,236,.5) 100%);
    background-image: -webkit-gradient(
    	linear,
    	top left,
    	bottom right,
    	color-stop(0, rgba(215,220,236,.5)),
    	color-stop(0.5, rgb(255,255,255,)),
    	color-stop(1, rgba(215,220,236,.5))
    );
}

div.used-color-list {
    display: flex;
    justify-content: center;
    margin: 20px;
}

div.used-color {
    float: left;
    margin-left: 2px;
    width: 22px;
}

.used-color div.color-box {
    width: 17px;
    height: 17px;
}

.used-color div.color-count {
    text-align: center;
}

div#color-shipping {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#color-shipping th {
    background-color: lightblue;
}

#color-shipping td {
    text-align: center;
}

#color-shipping td.colorname span {
    color: white;
    mix-blend-mode: difference;
}