
#studio-container {
    /*-webkit-user-select: none; deprecated for the moment
    -moz-user-select: none;*/
	width: 1024px;
	background-color: #00B5CB;
    float: left;
    height: auto;
}

#studio-container #studio {
    width: 1024px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 20px;
}

/*
 * HEADER OF THE STUDIO
 */

#studio-header {
    width: 1014px;
    margin-top: 10px;
}

#studio-header #tools {
    width: auto; /* 456px <- 390px */
    float: left;
    margin-left: 8px;
}

#studio-header #tools:hover
{
    cursor: pointer;
}

#studio-header #tools ul {
    list-style-type: none;
    overflow: hidden;
    float: left;
}

#studio-header #tools ul#generic,
#studio-header #tools ul#drawing-tools,
#studio-header #tools ul#grid-tools {
    border-right: 1px dashed #FFF;
}

#studio-header #tools ul li {
    float: left;
    position: relative;
    height: 60px;
    margin: 5px 3px 0;
    width: 55px;
}

#studio-header #tools ul li#tool-new{
    background-position: 9px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-new.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 9px */
}
#studio-header #tools ul li#tool-save{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-save.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-saveas{
    background-position: 13px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-save.png);
}
#studio-header #tools ul li#tool-publish{
    background-position: 13px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-publish.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 13px */
}
#studio-header #tools ul li#tool-order{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-order.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-draw{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-draw.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-erase{
    background-position: 12px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-erase.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-crop{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-crop.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-reset{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-reset.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-replace{
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-replace.png); /** sprite-ref: stickaz-sprite; sprite-alignment: left */
}
#studio-header #tools ul li#tool-import{
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-import.png); /** sprite-ref: stickaz-sprite; sprite-alignment: left */
    width: 54px;
    margin-left: 20px
}

#studio-header #tools ul li:hover#tool-new, #studio-header #tools ul li#tool-new.selected{
    background-position: 9px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-new-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 9px */
}
#studio-header #tools ul li:hover#tool-save, #studio-header #tools ul li#tool-save.selected{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-save-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-saveas.selected{
    background-position: 13px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-save-hover.png);
}
#studio-header #tools ul li:hover#tool-saveas{
    background-position: 13px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-save-hover.png);
}
#studio-header #tools ul li:hover#tool-publish, #studio-header #tools ul li#tool-publish.selected{
    background-position: 13px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-publish-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 13px */
}
#studio-header #tools ul li:hover#tool-order, #studio-header #tools ul li#tool-order.selected{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-order-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li:hover#tool-draw, #studio-header #tools ul li#tool-draw.selected{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-draw-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li#tool-draw.selected.fill{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-fill.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li:hover#tool-erase, #studio-header #tools ul li#tool-erase.selected{
    background-position: 12px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-erase-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li:hover#tool-crop, #studio-header #tools ul li#tool-crop.selected{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-crop-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li:hover#tool-reset, #studio-header #tools ul li#tool-reset.selected{
    background-position: 10px top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-reset-hover.png); /** sprite-ref: stickaz-sprite; sprite-margin-left: 10px */
}
#studio-header #tools ul li:hover#tool-replace, #studio-header #tools ul li#tool-replace.selected{
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-replace-hover.png); /** sprite-ref: stickaz-sprite; sprite-alignment: left */
}
#studio-header #tools ul li:hover#tool-import, #studio-header #tools ul li#tool-import.selected{
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../img/studio/tool-import-hover.png); /** spriter-ref: stickaz-sprite; sprite-alignment: left; */
}

#studio-header #tools li#tool-import form {
    -moz-transform: scale(1);
    height: 100%;
    border: none;
}

#studio-header #tools ul li a
{
    display: block;
    position: relative;
    height: 100%;
    width: 45px;
    text-decoration: none;
}

#studio-header #tools ul li:hover a
{
    color: #3A3A3A;
}

#studio-header #tools ul li span {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: block;
    font-family: Helvetica;
    font-size: 10px;
    text-align: center;
}

#tools ul li#tool-resize table {
    margin: auto;
    margin-top: 5px;
    border-collapse: collapse;
    -webkit-user-select:none !important;
    -moz-user-select:none !important;
}

#tools ul li#tool-resize table td {
    width: 11px;
    height: 11px;
    border: 1px solid #FFF;
    background-color: #00B5CB;
}

#tools ul li#tool-resize table td.left, #tools ul li table td.top, #tools ul li table td.right, #tools ul li table td.bottom {
    line-height: 11px;
    color: #6EDDFF;
    text-align: center;
    font-size: 11px;
}

#tools ul li#tool-resize table td.selected {
    background-color: #FF5600;
    cursor: pointer;
}
/* End: tools */

/* Stickaz meta information */
#studio-header #stickaz-meta {
    float: left;
    height: 59px;
    margin-left: 10px;
    margin-top: 5px;
    width: 700px;
}

#studio-header #stickaz-meta #stickaz-name {
    background-color: #FFF;
    float: left;
    height: 40px;
    padding: 0 5px;
}

#studio-header #stickaz-meta #stickaz-name form {
    margin-top: 8px;
}

#studio-header #stickaz-meta #stickaz-name label {
    font-family: Boton;
    font-size: 18px;
    text-transform: uppercase;
    color: #00B5CB;
    display: block;
    height: 25px;
    float: left;
    line-height: 28px;
}

#studio-header #stickaz-meta #stickaz-name input {
    width: 225px;
    margin-left: 5px;
}

#studio-header #stickaz-meta #grid-size {
    margin-left: 15px;
    float: left;
    background-color: #FFF;
    height: 40px;
    padding: 0 5px;
}

#studio-header #stickaz-meta #grid-size .label {
    font-family: Boton;
    font-size: 18px;
    text-transform: uppercase;
    color: #00B5CB;
    display: block;
    height: 25px;
    float: left;
    line-height: 28px;
    margin-top: 8px;
}


#studio-header #stickaz-meta #grid-size p {
    margin-left: 5px;
    margin-top: 8px;
    display: inline;
    float: left;
}

#studio-header #stickaz-meta #grid-size input.kaz {
    width: 27px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}

#studio-header #stickaz-meta #grid-size input.submit {
    width: 50px;
    height: 18px;
    margin: 10px 0 0 5px;
    background-color: #6EDDFF;
    border: 1px solid #6EDDFF;
    border-radius: 5px;
    color: #FFF;
    font-size: 10px;
}

#studio-header #stickaz-meta #grid-size span {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 15px;
}
/* End: Stickaz meta information */

#studio-header #stickaz-info {
    float: right;
    width: 280px;
    height: 115px;
    background-color: #FFF;
    padding: 7px;
    font-size: 12px;
}

#studio-header #stickaz-info table {
    margin-top: 5px;
    display: none; /* by default */
    border-collapse: collapse;
}

#studio-header #stickaz-info div.information {
    display: block;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #AEAEAE;
    margin: 10px auto 0 auto;
}

#studio-header #stickaz-info table tr th {
    font-size: 12px;
    color: #00B5CB;
    font-family: Boton;
    text-align: center;
}

#studio-header #stickaz-info table tr td {
    text-align: center;
    height: 15px;
    font-size: 13px;
}

#studio-header #stickaz-info table tr th.kaz {
    width: 50px;
}

#studio-header #stickaz-info table tr th.dimension {
    width: 200px;
    border-left: 1px dashed #3A3A3A;
    border-right: 1px dashed #3A3A3A;
}

#studio-header #stickaz-info table tr th.price {
    width: 75px;
}

#studio-header #stickaz-info table tr td.dimension {
    border-left: 1px dashed #3A3A3A;
    border-right: 1px dashed #3A3A3A;
}

#studio-header #palette-colors {
    float: left;
    overflow: hidden;
    margin: 10px 15px 0 10px;
    width: 100%;
}

#studio-header #palette-colors ul {
    list-style-type: none;
}

#studio-header #palette-colors ul li {
    float: left;
    margin-left: 2px;
    width: 22px;
}

#studio-header #palette-colors ul li div.color {
    height: 17px;
    width: 17px;
    border: 2px solid #00B5CB;
}

#studio-header #palette-colors ul li div.color:hover,
#studio-header #palette-colors ul li.selected div.color {
    border: 2px solid #FFF;
}

#studio-header #palette-colors ul li div.color:hover
{
   cursor: pointer;
}

#studio-header #palette-colors ul li div.color.isPaletteSelection:hover,
#studio-header #palette-colors ul li#c010 div.color.isPaletteSelection:hover,
#studio-header #palette-colors ul li#c025 div.color.isPaletteSelection:hover {
    border-style: dashed;
}

/* Manage white and yellow exception */
#studio-header #palette-colors ul li#c010 div.color:hover,
#studio-header #palette-colors ul li#c010.selected div.color,
#studio-header #palette-colors ul li#c025 div.color:hover,
#studio-header #palette-colors ul li#c025.selected div.color,
#studio-header #palette-colors ul li#transparent div.color:hover,
#studio-header #palette-colors ul li#transparent.selected div.color {
    border: 2px solid #000;
}

#studio-header #palette-colors ul li.selected span, #studio-header #palette-colors ul li.selected-white span {
    width: 20px;
}

#studio-header #palette-colors ul li span
{
    display: block;
    width: 17px;
    text-align: center;
    font-size: 10px;
    color: #FFF;
    margin-top: 3px;
}

#studio-header .title {
    background-color: #00B5CB;
    color: #FFF;
    text-transform: uppercase;
    font-family: Boton;
    font-size: 17px;
    height: 25px;
    line-height: 27px;
    padding: 0 4px;
}
/* END - STUDIO HEADER */


/* STUDIO - DRAW AREA */
#studio-draw {
    clear: both;
    margin: 0 auto;
    width: 955px;
    background-color:  #00B5CB;
    -webkit-user-select:none !important;
    -moz-user-select:none !important;
}

#studio-draw #not_supported {
    display: none;
}

#studio-draw #canvas_wrapper {
    float: left;
}

#studio-draw #studio-wrapper {
    margin: auto auto 10px auto;
}

#studio-draw #canvas_wrapper canvas {
    -webkit-user-select:none !important;
    -moz-user-select:none !important;
    margin: auto;
}

.transparent_tile
{
    background-image: linear-gradient(bottom, rgb(233,233,233) 0%, rgb(240,240,240) 50%, rgb(233,233,233) 100%);
    background-image: -o-linear-gradient(bottom, rgb(233,233,233) 0%, rgb(240,240,240) 50%, rgb(233,233,233) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(233,233,233) 0%, rgb(240,240,240) 50%, rgb(233,233,233) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(233,233,233) 0%, rgb(240,240,240) 50%, rgb(233,233,233) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(233,233,233) 0%, rgb(240,240,240) 50%, rgb(233,233,233) 100%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(233,233,233)),
    	color-stop(0.5, rgb(240,240,240)),
    	color-stop(1, rgb(233,233,233))
    );
}

/* END - DRAW AREA */


/* Generic class to add shadow to boxes */
.shadow {
    -moz-box-shadow: 0px 3px 10px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 0px 3px 10px rgba(0,0,0, 0.5);
    box-shadow: 0px 3px 10px rgba(0,0,0, 0.5);
}

/* Notification box */
#stickaz_notif
{
    float: left;
    height: 70px;
    margin: 0 25px 20px 10px;
    padding: 10px 10px 10px 65px;
    width: 929px;
    font-size: 13px;
    line-height: 16px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 35px auto;
    background-position: 10px 8px;
}

#stickaz_notif h4
{
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #FF5600;
}

#stickaz_notif a
{
    font-weight: bold;
    color: #00B5CB;
}

#stickaz_notif ul
{
    margin-left: 20px;
}

.perso_1
{
    background-image: url('../../../img/info/tibo.jpg');
}

.perso_2
{
    background-image: url('../../../img/info/gab.jpg');
}
.perso_3
{
    background-image: url('../../../img/info/franz.jpg');
}
.perso_4
{
    background-image: url('../../../img/info/nadir.jpg');
}
/* End - Notification box */
